.product-view {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-view img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.details {
  max-width: 500px;
}

.price {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
